<a href="https://colab.research.google.com/github/aekanun2020/2022-PEA-ML-sklearn-Spark-/blob/main/C_Checked_Python_Pandas_Conditional_ROWFiltering_using_Basic_method_and_loc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

การ Filter Rows แบบระบุเงื่อนไข ซึ่งประกอบด้วย 1. เงื่อนไขเดียว (Single Condition) และ 2. หลายเงื่อนไข (Multiple Conditions)

In [1]:
# Create DataFrame with None/Null to work with examples
import pandas as pd
import numpy as np
technologies   = {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas",None,"Spark","Python"],
    'Fee' :[22000,25000,23000,24000,np.nan,25000,25000,22000],
    'Duration':['30day','50days','55days','40days','60days','35day','','50days'],
    'Discount':[1000,2300,1000,1200,2500,1300,1400,1600]
          }
row_labels=['r0','r1','r2','r3','r4','r5','r6','r7']
df = pd.DataFrame(technologies, index=row_labels)
print(df)

    Courses      Fee Duration  Discount
r0    Spark  22000.0    30day      1000
r1  PySpark  25000.0   50days      2300
r2   Hadoop  23000.0   55days      1000
r3   Python  24000.0   40days      1200
r4   Pandas      NaN   60days      2500
r5     None  25000.0    35day      1300
r6    Spark  25000.0               1400
r7   Python  22000.0   50days      1600

# **1. Single Condition**

In [2]:
filter_cond = df['Discount']>1100 #Define a condition

In [3]:
filter_cond

r0    False
r1     True
r2    False
r3     True
r4     True
r5     True
r6     True
r7     True
Name: Discount, dtype: bool

In [4]:
# Row filtering using basic method with a condition

df[filter_cond]

    Courses      Fee Duration  Discount
r1  PySpark  25000.0   50days      2300
r3   Python  24000.0   40days      1200
r4   Pandas      NaN   60days      2500
r5     None  25000.0    35day      1300
r6    Spark  25000.0               1400
r7   Python  22000.0   50days      1600

In [5]:
# Row filtering using .loc[] with a condition
# ข้อสังเกตคือ ผลลัพธ์เหมือนกับคำสั่งก่อนหน้านี้ ที่ไม่ใช้ .loc[]

df.loc[filter_cond]

    Courses      Fee Duration  Discount
r1  PySpark  25000.0   50days      2300
r3   Python  24000.0   40days      1200
r4   Pandas      NaN   60days      2500
r5     None  25000.0    35day      1300
r6    Spark  25000.0               1400
r7   Python  22000.0   50days      1600

In [6]:
df[df['Discount']>1100] # Row filtering using basic method with a condition

    Courses      Fee Duration  Discount
r1  PySpark  25000.0   50days      2300
r3   Python  24000.0   40days      1200
r4   Pandas      NaN   60days      2500
r5     None  25000.0    35day      1300
r6    Spark  25000.0               1400
r7   Python  22000.0   50days      1600

In [7]:
df.loc[df['Discount']>1100] # Row filtering using .loc[] with a condition

    Courses      Fee Duration  Discount
r1  PySpark  25000.0   50days      2300
r3   Python  24000.0   40days      1200
r4   Pandas      NaN   60days      2500
r5     None  25000.0    35day      1300
r6    Spark  25000.0               1400
r7   Python  22000.0   50days      1600

In [8]:
filter_cond = ~(df['Discount']>1100) #Define condition with inverse

In [9]:
filter_cond

r0     True
r1    False
r2     True
r3    False
r4    False
r5    False
r6    False
r7    False
Name: Discount, dtype: bool

In [10]:
df[filter_cond] # Row filtering using basic method with a condition

   Courses      Fee Duration  Discount
r0   Spark  22000.0    30day      1000
r2  Hadoop  23000.0   55days      1000

In [11]:
df.loc[filter_cond] # Row filtering using .loc[] with a condition

   Courses      Fee Duration  Discount
r0   Spark  22000.0    30day      1000
r2  Hadoop  23000.0   55days      1000

In [12]:
filter_cond = df['Discount'].isin([1000,1200]) #Define a condition with .isin()

In [13]:
filter_cond

r0     True
r1    False
r2     True
r3     True
r4    False
r5    False
r6    False
r7    False
Name: Discount, dtype: bool

In [14]:
df[filter_cond] # Row filtering using basic method with a condition

   Courses      Fee Duration  Discount
r0   Spark  22000.0    30day      1000
r2  Hadoop  23000.0   55days      1000
r3  Python  24000.0   40days      1200

In [15]:
df.loc[filter_cond] # Row filtering using .loc[] with a condition

   Courses      Fee Duration  Discount
r0   Spark  22000.0    30day      1000
r2  Hadoop  23000.0   55days      1000
r3  Python  24000.0   40days      1200

# **2. Multiple Conditions**

In [16]:
# Define many conditions
filter_cond = ((df['Discount'].isin([1000,1200])) & (df['Courses']=='Spark'))

In [17]:
df[filter_cond] # Row filtering using basic method with many condition

   Courses      Fee Duration  Discount
r0   Spark  22000.0    30day      1000

In [18]:
df.loc[filter_cond] # Row filtering using .loc[] with many condition

   Courses      Fee Duration  Discount
r0   Spark  22000.0    30day      1000

In [19]:
# Row filtering using basic method with many condition (เขียนแบบบรรทัดเดียว)
df[((df['Discount'].isin([1000,1200])) & (df['Courses']=='Spark'))]

   Courses      Fee Duration  Discount
r0   Spark  22000.0    30day      1000

In [20]:
# Row filtering using .loc[] with many condition (เขียนแบบบรรทัดเดียว)
df.loc[((df['Discount'].isin([1000,1200])) & (df['Courses']=='Spark'))]

   Courses      Fee Duration  Discount
r0   Spark  22000.0    30day      1000

In [21]:
#df.query("`Discount` > 1100")

In [22]:
#df.query("`Courses` == 'Spark'")